{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}


<div class="container">
{% include "messages.html" %}
<ul class="breadcrumb">
            <li><a href="{% url "containerview" %}">Containers</a></li> 
            <li><span class="divider"></span>
                <a class="u" href="{% url "objectview" container=container %}">{{container}}</a>
             </li>

            {% for prefix in prefixes %}
                <li>
                    <span class="divider">/</span>
                    <a href="{% url "objectview" container=container prefix=prefix.full_name %}">{{prefix.display_name}}</a>
                </li>
            {% endfor %}
                 <li>
                    <span class="divider"></span>
                    <strong>{{objectname}}</strong>
                </li>

       </ul> 

<div style="width: 640px; height: 360px; ">    
{% load staticfiles %}
    <script type="text/javascript" src="{% static 'videoplayer/sewise.player.min.js' %}?server=vod&type=mp4&videourl={{ videofile }}&title=VodVideo&buffer=5&skin=vodWhite">
    </script>
</div>

<div>

	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<a type="button" class="btn btn-primary" href="/objects/{{container}}">Back to Container</a>

	<!-- Indicates a dangerous or potentially negative action -->
	<a type="button" class="btn btn-danger" href="{% url "delete_videos" %}">Delete Videos Temp</a>

</div>
</div>

{% endblock %}



