{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}


<div class="container">
{% include "messages.html" %}




<div>
    {{ videofile }}

</div>


<div style="width: 640px; height: 360px; ">    
{% load staticfiles %}
    <script type="text/javascript" src="{% static 'videoplayer/sewise.player.min.js' %}?server=vod&type=mp4&videourl={{ videofile }}&title=VodVideo&buffer=5&skin=vodWhite">
    </script>
</div>

<div>
	<!-- Standard button -->
	<button type="button" class="btn btn-default">Default</button>

	<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
	<button type="button" class="btn btn-primary">Primary</button>

	<!-- Indicates a successful or positive action -->
	<button type="button" class="btn btn-success">Success</button>

	<!-- Contextual button for informational alert messages -->
	<button type="button" class="btn btn-info">Info</button>

	<!-- Indicates caution should be taken with this action -->
	<button type="button" class="btn btn-warning">Warning</button>

	<!-- Indicates a dangerous or potentially negative action -->
	<a type="button" class="btn btn-danger" href="{% url "delete_videos" %}">Delete Videos Temp</a>

</div>
</div>

{% endblock %}



